@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --ui-accent: #2a0026;
  --waveform-unplayed: #929292;
  --waveform-hover: rgba(0, 31, 103, 0.126);
  --player-border-color: #ffffff;
  --builder-bg: #faf8fa;
  --builder-border: #eee;
  --builder-sidebar-shadow: rgba(40, 0, 38, 0.04);
  --builder-accent: #333;
  --builder-hover: #686868;
  --builder-delete-hover: #b00000;
}
