.waveform-and-volume {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  flex-grow: 1;
  height: 100px;
}

.volume-control {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#volumeSlider {
  display: none;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 30px;
  height: 100px;
  margin-bottom: 0.5rem;
}
body {
  font-family: sans-serif;
  padding: 2rem;
  background: #f8f8f8;
  text-align: center;
}
#waveform {
  flex: 1;
  width: 100%;
  max-width: 600px;
  /* margin: 2rem auto; */
}
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 700px;
  margin: 1rem auto;
}

.icon-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
  color: #333;
}

.track-info {
  margin-bottom: 0.5rem;
  padding-left: 0;
}

.player-wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.loading {
  font-size: 1rem;
  color: #999;
  text-align: left;
  padding-left: 0.5rem;
  line-height: 100px;
}

.dot {
  animation: blink 1.4s infinite;
  opacity: 0;
}

.dot.one {
  animation-delay: 0s;
}

.dot.two {
  animation-delay: 0.2s;
}

.dot.three {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}